@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #122239;
  --color-secondary: #fee715;
  --color-tetiary: #757E8D;
}

* {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.styled-scrollbar::-webkit-scrollbar {
  @apply lg:w-2 w-1 h-1;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#cbd5e1] rounded-full;
}

:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.borderPrimary {
  border-color: #2f531810;
}

.textPrimary {
  @apply text-primary;
}

.bgPrimary {
  @apply bg-primary;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
